REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=default
REDIS_HOST=127.0.0.1
DATABASE_URI=mongodb://127.0.0.1:27017
NADEX_USER_NAME=""
NADEX_PASSWORD=""
NODE_ENV="development"
SECRET=xyz 
PORT=5000
DEMO_MODE=false
